
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    background: #3F407E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    right: 0;
    height: 48px;

}

.cabecalho-logo{
    height: 32px;
}

.cabecalho-menu{
    display: flex;
    gap: 20px;
    
}

.cabecalho-menu-item{
    font-family: 'Anton', sans-serif;
    color: #ffff;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-around;
    height: 10px;
    align-items: center;
    top:0;
    margin-bottom: 30px;
    margin-top: 0;
    /* margin-bottom: 10px;
    padding-bottom: 10px; */
    
}

.cabecalho-menu-botao{
    border: none;
    background-color: #3F407E;
    padding: 2px;
    margin: 8px;
    margin-top: 8px;
    padding-bottom: 2px;
    align-items: center;
    font-family: 'Anton', sans-serif;
    color: #ffff;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
   
}
.cabecalho-menu-botao:hover{
    background-color: #3d3e6d;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
.conteudo{
    margin-bottom: 48px;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-principal-titulo{
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #3F407E;
    padding: 72px;
    font-size: 38px;
    font-family: 'Anton', sans-serif;
    margin-top: 32px;
}

.conteudo-principal-botao-pensaeja{
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    /* gap:32px; */
    font-family: 'Anton', sans-serif;
    color: #3F407E;
    background-color: #FCD400;
    width: 190px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
    border:0;
    margin-top: -2.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.conteudo-principal-botao-pensaeja:hover{
    background-color: #b19b30;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    

}
.conteudo-principal-botao-pensaeja-logo{
    align-items: center;
    justify-content: space-around;
    height: 28px;
    gap: 32px;
    border: 0;
    margin-top: - 0.3em;


}
.conteudo-principal-link-saibamais{
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    
}

.conteudo-principal-link-saibamais-seta{
    align-items: center;
    flex-direction: column;  
    gap: 30px;  
}

.secao2{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
    background-color: #3F407E;
    margin-top: 20px;

}

.secao2-sobre-titulo{
    color: #ffff;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-top: 10px;


}

.secao2-sobre-texto{
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    padding: 14px;
    /* line-height: 19px; */
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.publicacoes{
    display: flex;
    flex-direction: column;
    background-color: #e75d81;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.publicacoes-titulo{
    color: #ffff;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.publicacoes-botao{
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 8px;
    font-family: 'Open Sans', sans-serif;
    color: #3F407E;
    background-color: #FCD400;
    border-radius: 20px;
    padding: 0;
    border:0;
    gap: 32px;
    margin: 5px;
    width: 173.6px;
    /* width: 217px; */
    height: 97.2px;
    /* height: 121.5px; */
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.publicacoes-botao:hover{
    background-color: #b19b30;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.publicacoes-a{
   margin: 0;
   font-size: 8px;

}
.material-icons{
    color: #3F407E;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 5px;

}

.equipe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.equipe-titulo{
    color: #3F407E;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.equipe-titulo-autores{
    color: #3F407E;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.equipe-titulo-organizadoras{
    color: #3F407E;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.equipe-foto{
    display: flex;
    flex-direction: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    margin-top: 20px;
}

.equipe-texto{
    color: #3F407E;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.contato{
    display: flex;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
    background-color: #3F407E;
    margin-top: 20px;
}

.contato-titulo{
    color: #ffff;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;

}

.contato-texto{
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    line-height: 0;
    text-align: center;
    justify-content: left;
    font-size: 14px;
    /* margin-top: 10px; */

    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    /* line-height: 19px; */
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    align-items: center;
    gap: 32px;
    justify-content: space-around;
    margin-top: 0;
}

.footer-imagem{
    width: 12.5%;
    height: 5%;

}
